
:root{
  --pink:linear-gradient(90deg, #720249 26.71%,#f80abc 99.36%);
  --blue:#1DA1F2;
  --darkblue:	#4267B2;
}

.App{
  height:100vh;
  background:var(--pink);
  display: flex;
  align-items: center;
  justify-content: center;

}
.main{
 height: 30rem;
 width:20rem;
 border-radius: 10px;
 background-color: whitesmoke;
 display: flex;
 flex-direction: column;
/*align-items: center;
 justify-content: center;*/
}
.submain{
  color: black;
  padding:20px 30px 20px 30px;
  font-size: 1rem;
  font-weight:400;

}
